*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  font-family:sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #DFF6FF;
  list-style: none;
  height: 7vh;
}

.navbar-item{
text-decoration: none;
border-bottom: transparent;
}

.navbar-item:hover{
  border-bottom:3px salmon solid;
}

.aboutUs-container{
  height: 100vh;
  overflow-y: scroll;
}

.aboutUs-container,.ourServices-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top:5% ;
}

.aboutUs-p, .ourServices-p{
  width: 70%;
  margin: 5% 5% 5% 5%;
}

.services-illustartion, .aboutUs-illustrations{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.illustration-1{
  background: url(./imgs/undraw_around_the_world_re_n353.svg) no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 150px;
}
.illustration-2{
  background: url(./imgs/undraw_online_transactions_-02-ka.svg) no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 150px;
}
.illustration-3{
  background: url(./imgs/undraw_Thought_process_re_om58.png) no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 150px;
}

.aboutUs-illustration-1{
  background: url(./imgs/undraw_build_your__home_csh6.png) no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 150px;
}
.aboutUs-illustration-2{
  background: url(./imgs/undraw_discount_d4bd.png) no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 150px;
}



.navbar-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width:500px;
}

.navbar-items:hover{
  cursor: pointer;
}

.product-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.product-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  height: 300px;
  width: 90%;
  margin: 5% 0 5% 0;
  
}

.product-img{
  background: url(./imgs/sony1.jpg) no-repeat;
  background-size: 100% 100%;
  width: 350px;
  height: 200px;
  }

  .product-img2{
    background: url(./imgs/sony2.jpg) no-repeat;
    background-size: 100% 100%;
    width: 350px;
    height: 200px;
  }

.product-short-info-p{
 max-width: 300px;
 height: inherit;
}

.rating-stars{
  background: url(./imgs/stars-9.8.png) no-repeat;
  background-size: 100% 100%;
  width: 70px;
  height: 20px;
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
 

.show-more{
  display: flex;
  justify-content: space-around;
  width: 250px;
}
.show-more-btn{
  width: 120px;
  border: 2px salmon solid;
}

.view-deal-btn{
  width: 200px;
  background-color: #DFF6FF;
  height: 40px;
  border-radius: 20px;
  border: 2px salmon solid;
}

.view-deal-btn:hover, .show-more-btn:hover{
  cursor: pointer;
  background-color: salmon ;
  color: #fff;
  border: 2px salmon solid;
}

.on-amazon-btn{
  background-color: transparent;
  border: transparent;
}

 .discount{
  width: 100px;
  background-color: #DFF6FF;
  height: 30px;
  border-radius: 20px;
  border: 2px salmon solid;
}

.show-more-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 130px;
  background-color: #DFF6FF;
  height: 30px;
  border-radius: 20px;
}

.rating{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.rating-numeric{
 font-size:x-large;
}

.product-short-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  
}


.footer {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  background-color: #DFF6FF;
  height: 7vh;
  width: 100%;
  bottom: 0;
}


@media only screen and (min-width: 360px) and (max-width: 768px) {
  .product-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .product-container{
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  padding: 5% 0 0 0;
  }

  .product-img{
    width:250px;
  }
  .more-info{
    gap:10px;
  }

  .product-short-info-p{
    width:200px
  }

  .show-more-btn{
    display: none;
  }
  .discount{
    width: 80px;
  }

  .view-deal-btn{
    width: 100px;
  }

  .footer{
      bottom: 0;
   }
}


@media only screen and (min-width: 769px) and (max-width: 1074px) {
.product-container{
    margin: 0 24px 0 24px;
    width: 95%;
    display: flex;
    justify-content: space-between;
  }

  .product-img{
    width:250px;
  }
  .more-info{
    gap:10px;
  }
  
  .product-short-info-p{
    width:220px;
  }
.show-more{
  width: 150px;
  font-size: small;
}
.show-more-btn{
  height: 60px;
}

.view-deal-btn{
  width: 150px;
}

.product-short-info-p{
  display: flex;
  align-items: center;
  height: 150px;
  font-size: small;
}
.discount{
  width: 80px;
}
.footer{
  bottom: 0;
}
}

@media only screen and (min-width: 1074px) {
  .product-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer{
    bottom: 0;
 }
}